<div class="container">
    <div class="row">
        <h1>Patient treatment information</h1>
        {{#if by_time_slot}}
          <div class="col-sm-10">
            {{#if before_breakfast}}
                <div class="col-sm-3 well">
                  <span> Before Breakfast : <img src="/images/yes.png" height="50px" width="50px" /></span>
                </div>
            {{else}}
                <div class="col-sm-3 well">
                  <span>Before Breakfast : <img src="/images/no.jpg" height="50px" width="50px" /></span>
                </div>
            {{/if}}

            {{#if before_lunch}}
                <div class="col-sm-3 well">
                  <span>Before Lunch : <img src="/images/yes.png" height="50px" width="50px" /></span>
                </div>
            {{else}}
                <div class="col-sm-3 well">
                  <span>Before Lunch : No</span>
                </div>
            {{/if}}

            {{#if before_dinner}}
                <div class="col-sm-3 well">
                  <span>Before Dinner : <img src="/images/yes.png" height="50px" width="50px" /></span>
                </div>
            {{else}}
                <div class="col-sm-3 well">
                  <span>Before Dinner : <img src="/images/no.jpg" height="50px" width="50px" /></span>
                </div>
            {{/if}}


            {{#if before_suffer}}
                <div class="col-sm-3 well">
                  <span>Before Suffer : <img src="/images/yes.png" height="50px" width="50px" /></span>
                </div>
            {{else}}
                <div class="col-sm-3 well">
                  <span>Before Suffer : <img src="/images/no.jpg" height="50px" width="50px" /></span>
                </div>
            {{/if}}

            {{#if after_breakfast}}
                <div class="col-sm-3 well">
                  <span>After Breakfast : <img src="/images/yes.png" height="50px" width="50px" /></span>
                </div>
            {{else}}
                <div class="col-sm-3 well">
                  <span>After Breakfast : <img src="/images/no.jpg" height="50px" width="50px" /></span>
                </div>
            {{/if}}


            {{#if after_lunch}}
                <div class="col-sm-3 well">
                  <span>After Lunch : <img src="/images/yes.png" height="50px" width="50px" /></span>
                </div>
            {{else}}
                <div class="col-sm-3 well">
                  <span>After Lunch : <img src="/images/no.jpg" height="50px" width="50px" /></span>
                </div>
            {{/if}}

            {{#if after_dinner}}
                <div class="col-sm-3 well">
                  <span>After Dinner : <img src="/images/yes.png" height="50px" width="50px" /></span>
                </div>
            {{else}}
                <div class="col-sm-3 well">
                  <span>After Dinner : <img src="/images/no.jpg" height="50px" width="50px" /></span>
                </div>
            {{/if}}

            {{#if after_suffer}}
                <div class="col-sm-3 well">
                  <span>After Suffer : <img src="/images/yes.png" height="50px" width="50px" /></span>
                </div>
            {{else}}
                <div class="col-sm-3 well">
                  <span>After Suffer : <img src="/images/no.jpg" height="50px" width="50px" /></span>
                </div>
            {{/if}}
        {{/if}}


        {{#if by_time_frequncy}}
          <div class="col-sm-3 well">
                  <span>Days : {{days}}</span>
                </div>
           
                <div class="col-sm-3 well">
                  <span>Iteration : {{day_iteration}}</span>
                </div>
        {{/if}}
    </div>
</div>